DB_NAME="saagadb"
DB_USER="rootuser"
DB_PASS="password"
DJANGO_SECRET_KEY="django-secret-key"
DJANGO_ALLOWED_HOSTS="127.0.0.1,localhost,herzberg.mit.edu"
PGADMIN_DEFAULT_EMAIL="email"
PGADMIN_DEFAULT_PASSWORD="SuperSeCretkEy"
DJANGO_EMAIL_HOST="email"
DJANGO_EMAIL_PASSWORD="accesskey"